/* Stylesheet by Theodore Nguyen, 2021 */

.map {
    border: medium solid #999;
}

.countries {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1px;
}

.states {
	fill: #006d2c;
	stroke: #fff;
	stroke-width: 2px;
}

.gratLines {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
}

.gratBackground {
    fill: #c6dbef;
}
