/* Stylesheet by Theodore Nguyen, 2021 */

.map {
    border: medium solid #999;
}

.countries {
    fill: #FFF;
    stroke: #CCC;
    stroke-width: 2px;
}

.regions {
	fill: #34568B;
	stroke: #CCC;
	stroke-width: 2px;
}

.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}

.gratBackground {
    fill: #D5E3FF;
}
